$primary-background: #9775FA;
$secondary-background: #FAFAFA;
$accent-background: #ffffff;
$hover-background: #F8F9FA;
$focus-background: #C0EB75;

$primary-text: #25262B;
$secondary-text: #868E96;
$accent-text: #ffffff;

$secondary-button: #25262B;
$disabled-button: #868E96;