@import "./colors.scss";

:root {
    --primary-background: $primary-background;
    --secondary-background: $secondary-background;
    --hover-background: $hover-background;
    --primary-text: $primary-text;
    --secondary-text: $primary-text;
    --primary-accent: $primary-accent;
    --secondary-accent: $secondary-accent;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-size: 14px;
    background-color: $primary-background;
    min-height: 100vh;
    font-weight: normal;
    font-family: Open Sans;
    font-weight: 300;
}