@import "./colors.scss";

:root {
    --primary-background: $primary-background;
    --secondary-background: $secondary-background;
    --hover-background: $hover-background;
    --focus-background: $focus-background;
    --primary-text: $primary-text;
    --secondary-text: $secondary-text;
    --accent-text: $accent-text;
    --secondary-button: $secondary-button;
    --disabled-button: $disabled-button;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-size: 14px;
    background-color: $secondary-background;
    min-height: 100vh;
    font-family: "Regular";
    font-weight: normal;
}